streamlit==1.51.0
spacy==3.8.5
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
sentence-transformers==5.1.2
PyMuPDF==1.26.6
python-docx==1.1.2
pandas==2.2.3
numpy<2.0.0
scikit-learn==1.6.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch
